<style>
  * {
    margin: 0;
    padding: 0;
  }
  
  main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
  }

  h3 {
    margin: 25px 0 5px 0;
  }

  .content, .content-dois {
    width: 200px;
  }

  @media screen and (max-width: 650px) {
    .content, .content-dois  {
      flex-direction: column;
      width: max-content;
    }
  }
</style>

<main class="main">
  <div class="content">
    <h3>Lista Completa</h3>
    <ul>
      <li *ngFor="let lista of listaTarefas"> {{ lista }} </li>
    </ul>
  </div>

  <div class="content-dois">
    <h3>Lista com ngIf</h3>
    <ul>
      <ng-container *ngFor="let lista of listaTarefas">
        <li *ngIf="lista == 'Estudar Angular' "> {{ lista }} </li>
      </ng-container>
    </ul>
  </div>
</main>
<router-outlet />
